 <div class="jumbotron">
     <h1>About</h1>
     <p>
         This is an app that allows you to subscribe to events coming out of a Salesforce instance and 
         visualise them and allowing you to inspect them. Good for demoing Shield Event Monitoring.
     </p>
 </div>
