<div class="jumbotron">
  <h1 class="display-4">Hello, Shield Event Monitoring, world!</h1>
  <p class="lead">Streaming data to and from Salesforce is sweet and this app is for making visualisation and demoing much nicer and easier.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  </p>
</div>

